 /* 清單 */

    body {

        margin: 0;

        font-family: Arial, sans-serif;

        background-color: rgb(189, 217, 242);

    }



    .aa{

        max-width: 1100px;

        margin: 65px ;

        padding: 30px;

        background-color: white;

        border: 1px solid #ddd;

    }



    /*頂部調整*/

    .top-area {

        padding-bottom: 10px;

        margin-bottom: 20px;

    }



    nav {

        width: 100%;

        padding-right: 0;

        margin-bottom: 20px;

    }



    nav h2 {

        margin-top: 0;

        display: none;

    }

   

    nav ul {

        list-style: none;

        padding: 0;

        margin: 0;

        display: flex;

        gap: 10px;

        flex-wrap: wrap;

    }

   

    nav a {

        display: block;

        padding: 10px 15px;

        border: 1px solid black;

        text-decoration: none;

        color: rgb(15, 1, 18);

        background-color: white;

        text-align: center;

    }



    nav a:hover {

        background-color: rgb(213, 208, 208);

        color:black;

        border-color: #133466;

    }

   

    .content-wrapper {

        display: flex;

        gap: 20px;

        align-items: flex-start;

    }



    .basic-info-display {

        border: 1px solid gray;

        padding: 15px;

        line-height: 2;

        height: 100%;

    }

   

    .photo-contact {

        display: flex;

        flex-direction: column;

        gap: 15px;

    }



    .photo-contact > div {

        border: 1px solid gray;

    }



   

    .photo {

        height: 150px;

        width: 250px;

    }

   

   

    .photo img {

        width: 100%;

        height: 100%;

        object-fit: cover;

    }

   

    .contact {

        padding: 5px 10px;

        width: 230px;

    }



    .contact h4 {

    margin: 5px 0 10px 0;

    padding-bottom: 5px;

    border-bottom: 1px solid #ccc;

    }

   

    .contact ul {

        list-style: none;

        padding: 0;

        margin: 5px 0 0 0;

        line-height: 1.6;

    }

   

    .basic-info-display {

        border: 1px solid gray;

        padding: 15px;

        line-height: 2;

    }

   

    .slogan{

        font-size: 23px;

        text-align: center;

        color: #133466;

        margin-top: 0;

        margin-bottom: 15px;

        padding-bottom: 10px;

        border-bottom: 1px solid #ccc;

    }





    /* 標籤 */

    section {

        margin-top: 20px;

        padding-top: 20px;

        border-top: 1px solid black;

    }

    section h2 {

        display: inline-block;

        border: 1px solid black;

        padding: 5px 10px;

        margin-bottom: 20px;

    }



    /* 專業技能 */

    .skill-list {

        display: flex;

        gap: 90px;

        padding: 0 50px;

    }

    .skill-item {

        text-align: center;

    }

    .skill-circle {

        width: 80px;

        height: 80px;

        border: 30px solid #b5b6e4;

        border-radius: 50%;

        margin: 0 auto 10px;

        line-height: 80px;

    }



    .skill-list .skill-item:nth-child(1) .skill-circle { border-color: #4B8BBE; color: #4B8BBE; }

    .skill-list .skill-item:nth-child(2) .skill-circle { border-color: #E37435; color: #E37435; }

    .skill-list .skill-item:nth-child(3) .skill-circle { border-color: #E44D26; color: #E44D26; }

    .skill-list .skill-item:nth-child(4) .skill-circle { border-color: #0077B5; color: #0077B5; }



    /* 個人經歷 */

    .experience-list {

        display: flex;

        gap: 20px;

        padding-top: 10px;

        color: #133466;

        text-align: center;

    }



    .experience-list article {

    max-width: 30%;

    border: 1px solid #ccc;

    padding: 15px;

    border-radius: 5px;

}



    article img {

        width: 100%;

        height: 180px;

        margin: px 0px;

        border: 1px solid #ccc;

        display: block;

    }

   

    .scroll-to-top {

        margin-top: 40px;

    }



    .scroll-to-top a {

        display: block;

        background-color: #9d54547f;

        color: white;

        text-align: center;

        padding: 10px 15px;

        text-decoration: none;

        border-radius: 10px;

        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

        font-weight: bold;

    }
